.theColorName.--IndianRed {
  color: IndianRed;
}

.theColorName.--LightCoral {
  color: LightCoral;
}

.theColorName.--Salmon {
  color: Salmon;
}

.theColorName.--DarkSalmon {
  color: DarkSalmon;
}

.theColorName.--LightSalmon {
  color: LightSalmon;
}

.theColorName.--Crimson {
  color: Crimson;
}

.theColorName.--Red {
  color: Red;
}

.theColorName.--FireBrick {
  color: FireBrick;
}

.theColorName.--DarkRed {
  color: DarkRed;
}

.theColorName.--Pink {
  color: Pink;
}

.theColorName.--LightPink {
  color: LightPink;
}

.theColorName.--HotPink {
  color: HotPink;
}

.theColorName.--DeepPink {
  color: DeepPink;
}

.theColorName.--MediumVioletRed {
  color: MediumVioletRed;
}

.theColorName.--PaleVioletRed {
  color: PaleVioletRed;
}

.theColorName.--Coral {
  color: Coral;
}

.theColorName.--Tomato {
  color: Tomato;
}

.theColorName.--OrangeRed {
  color: OrangeRed;
}

.theColorName.--DarkOrange {
  color: DarkOrange;
}

.theColorName.--Orange {
  color: Orange;
}

.theColorName.--Gold {
  color: Gold;
}

.theColorName.--Yellow {
  color: Yellow;
}

.theColorName.--LightYellow {
  color: LightYellow;
}

.theColorName.--LemonChiffon {
  color: LemonChiffon;
}

.theColorName.--LightGoldenRodYellow {
  color: LightGoldenRodYellow;
}

.theColorName.--PapayaWhip {
  color: PapayaWhip;
}

.theColorName.--Moccasin {
  color: Moccasin;
}

.theColorName.--PeachPuff {
  color: PeachPuff;
}

.theColorName.--PaleGoldenRod {
  color: PaleGoldenRod;
}

.theColorName.--Khaki {
  color: Khaki;
}

.theColorName.--DarkKhaki {
  color: DarkKhaki;
}

.theColorName.--Lavender {
  color: Lavender;
}

.theColorName.--Thistle {
  color: Thistle;
}

.theColorName.--Plum {
  color: Plum;
}

.theColorName.--Violet {
  color: Violet;
}

.theColorName.--Orchid {
  color: Orchid;
}

.theColorName.--Fuchsia {
  color: Fuchsia;
}

.theColorName.--Magenta {
  color: Magenta;
}

.theColorName.--MediumOrchid {
  color: MediumOrchid;
}

.theColorName.--MediumPurple {
  color: MediumPurple;
}

.theColorName.--RebeccaPurple {
  color: RebeccaPurple;
}

.theColorName.--BlueViolet {
  color: BlueViolet;
}

.theColorName.--DarkViolet {
  color: DarkViolet;
}

.theColorName.--DarkOrchid {
  color: DarkOrchid;
}

.theColorName.--DarkMagenta {
  color: DarkMagenta;
}

.theColorName.--Purple {
  color: Purple;
}

.theColorName.--Indigo {
  color: Indigo;
}

.theColorName.--SlateBlue {
  color: SlateBlue;
}

.theColorName.--DarkSlateBlue {
  color: DarkSlateBlue;
}

.theColorName.--MediumSlateBlue {
  color: MediumSlateBlue;
}

.theColorName.--GreenYellow {
  color: GreenYellow;
}

.theColorName.--Chartreuse {
  color: Chartreuse;
}

.theColorName.--LawnGreen {
  color: LawnGreen;
}

.theColorName.--Lime {
  color: Lime;
}

.theColorName.--LimeGreen {
  color: LimeGreen;
}

.theColorName.--PaleGreen {
  color: PaleGreen;
}

.theColorName.--LightGreen {
  color: LightGreen;
}

.theColorName.--MediumSpringGreen {
  color: MediumSpringGreen;
}

.theColorName.--SpringGreen {
  color: SpringGreen;
}

.theColorName.--MediumSeaGreen {
  color: MediumSeaGreen;
}

.theColorName.--SeaGreen {
  color: SeaGreen;
}

.theColorName.--ForestGreen {
  color: ForestGreen;
}

.theColorName.--Green {
  color: Green;
}

.theColorName.--DarkGreen {
  color: DarkGreen;
}

.theColorName.--YellowGreen {
  color: YellowGreen;
}

.theColorName.--OliveDrab {
  color: OliveDrab;
}

.theColorName.--Olive {
  color: Olive;
}

.theColorName.--DarkOliveGreen {
  color: DarkOliveGreen;
}

.theColorName.--MediumAquaMarine {
  color: MediumAquaMarine;
}

.theColorName.--DarkSeaGreen {
  color: DarkSeaGreen;
}

.theColorName.--LightSeaGreen {
  color: LightSeaGreen;
}

.theColorName.--DarkCyan {
  color: DarkCyan;
}

.theColorName.--Teal {
  color: Teal;
}

.theColorName.--Aqua {
  color: Aqua;
}

.theColorName.--Cyan {
  color: Cyan;
}

.theColorName.--LightCyan {
  color: LightCyan;
}

.theColorName.--PaleTurquoise {
  color: PaleTurquoise;
}

.theColorName.--Aquamarine {
  color: Aquamarine;
}

.theColorName.--Turquoise {
  color: Turquoise;
}

.theColorName.--MediumTurquoise {
  color: MediumTurquoise;
}

.theColorName.--DarkTurquoise {
  color: DarkTurquoise;
}

.theColorName.--CadetBlue {
  color: CadetBlue;
}

.theColorName.--SteelBlue {
  color: SteelBlue;
}

.theColorName.--LightSteelBlue {
  color: LightSteelBlue;
}

.theColorName.--PowderBlue {
  color: PowderBlue;
}

.theColorName.--LightBlue {
  color: LightBlue;
}

.theColorName.--SkyBlue {
  color: SkyBlue;
}

.theColorName.--LightSkyBlue {
  color: LightSkyBlue;
}

.theColorName.--DeepSkyBlue {
  color: DeepSkyBlue;
}

.theColorName.--DodgerBlue {
  color: DodgerBlue;
}

.theColorName.--CornflowerBlue {
  color: CornflowerBlue;
}

.theColorName.--RoyalBlue {
  color: RoyalBlue;
}

.theColorName.--Blue {
  color: Blue;
}

.theColorName.--MediumBlue {
  color: MediumBlue;
}

.theColorName.--DarkBlue {
  color: DarkBlue;
}

.theColorName.--Navy {
  color: Navy;
}

.theColorName.--MidnightBlue {
  color: MidnightBlue;
}

.theColorName.--Cornsilk {
  color: Cornsilk;
}

.theColorName.--BlanchedAlmond {
  color: BlanchedAlmond;
}

.theColorName.--Bisque {
  color: Bisque;
}

.theColorName.--NavajoWhite {
  color: NavajoWhite;
}

.theColorName.--Wheat {
  color: Wheat;
}

.theColorName.--BurlyWood {
  color: BurlyWood;
}

.theColorName.--Tan {
  color: Tan;
}

.theColorName.--RosyBrown {
  color: RosyBrown;
}

.theColorName.--SandyBrown {
  color: SandyBrown;
}

.theColorName.--Goldenrod {
  color: Goldenrod;
}

.theColorName.--DarkGoldenRod {
  color: DarkGoldenRod;
}

.theColorName.--Peru {
  color: Peru;
}

.theColorName.--Chocolate {
  color: Chocolate;
}

.theColorName.--SaddleBrown {
  color: SaddleBrown;
}

.theColorName.--Sienna {
  color: Sienna;
}

.theColorName.--Brown {
  color: Brown;
}

.theColorName.--Maroon {
  color: Maroon;
}

.theColorName.--White {
  color: White;
}

.theColorName.--Snow {
  color: Snow;
}

.theColorName.--HoneyDew {
  color: HoneyDew;
}

.theColorName.--MintCream {
  color: MintCream;
}

.theColorName.--Azure {
  color: Azure;
}

.theColorName.--AliceBlue {
  color: AliceBlue;
}

.theColorName.--GhostWhite {
  color: GhostWhite;
}

.theColorName.--WhiteSmoke {
  color: WhiteSmoke;
}

.theColorName.--SeaShell {
  color: SeaShell;
}

.theColorName.--Beige {
  color: Beige;
}

.theColorName.--OldLace {
  color: OldLace;
}

.theColorName.--FloralWhite {
  color: FloralWhite;
}

.theColorName.--Ivory {
  color: Ivory;
}

.theColorName.--AntiqueWhite {
  color: AntiqueWhite;
}

.theColorName.--Linen {
  color: Linen;
}

.theColorName.--LavenderBlush {
  color: LavenderBlush;
}

.theColorName.--MistyRose {
  color: MistyRose;
}

.theColorName.--Gainsboro {
  color: Gainsboro;
}

.theColorName.--LightGray {
  color: LightGray;
}

.theColorName.--Silver {
  color: Silver;
}

.theColorName.--DarkGray {
  color: DarkGray;
}

.theColorName.--Gray {
  color: Gray;
}

.theColorName.--DimGray {
  color: DimGray;
}

.theColorName.--LightSlateGray {
  color: LightSlateGray;
}

.theColorName.--SlateGray {
  color: SlateGray;
}

.theColorName.--DarkSlateGray {
  color: DarkSlateGray;
}

.theColorName.--Black {
  color: Black;
}

/*# sourceMappingURL=theColorName.css.map */
