.page-header {
  background: {
    color: DarkSlateBlue;
    image: linear-gradient(120deg, SlateBlue, DarkSlateBlue);
  }
}

.page-top-bar {
  height: 12px;
  width: 100%;
  border-top: Lavender 1px solid;
  background-image: linear-gradient(to right, $colors);
}

.project-stars {
  margin-top: 24px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: DarkMagenta;
  font-weight: bold;
}

h1, h2, h3, .main-content p, .btn, .site-footer, ul.table-of-content li {
  font-family: 'Wendy One', sans-serif;
}

.main-content p {
  color: Indigo;
}

.main-content pre {
  background-color: Lavender;
  border-color: Thistle;
}

.main-content pre > code {
  color: RebeccaPurple;
}

body {
  color: MediumSlateBlue;
}

a {
  color: DarkViolet;
}

a:hover {
  text-decoration: none;
  color: Purple;
}

.site-footer-credits {
  color: MediumPurple;
}

.site-footer {
  border-color: Lavender;
}

$prefixes: ("-moz-", "");

@mixin selection($color, $background) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      color: $color;
      background: $background;
      text-shadow: none !important;
    }
  }
}

@include selection(white, rgba(black, .8));

ul.table-of-content {
  margin: 0;
  list-style: none;
  padding: 0;

  li {
    text-align: center;
    font-size: 26px;
    padding: 40px;
    margin-bottom: 15px;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s;

    p, a {
      transition: all .3s;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 60px 0 rgba(black, .1);
    }

    p {
      margin: 0;

      &:before, &:after {
        opacity: .8;
      }

      &.hex {
        text-transform: uppercase;

        &:before {
          content: '#';
        }
      }

      &.rgb {
        &:before {
          content: 'rgb(';
        }

        &:after {
          content: ')';
        }
      }
    }

    @for $i from 1 through length($colors) {

      $my-color: nth($colors, $i);
      $my-color-invert: invert(nth($colors, $i));
      $my-color-trans: rgba(nth($colors, $i), .8);
      $my-color-darken: darken(nth($colors, $i), 10%);

      &:nth-child(#{length($colors)}n+#{$i}) {
        background-color: $my-color;

        p, a {
          color: $my-color;
        }

        &:hover {
          background-color: $my-color-invert; // More options => color: $my-color-darken; or background-color: $my-color-trans;

          a {
            &.name {
              @if $breaking-underlines {
                text-shadow: (-1px) -1px 0 $my-color-invert, 1px -1px 0 $my-color-invert, -1px 1px 0 $my-color-invert, 1px 1px 0 $my-color-invert;
              }

              @include underline($my-color-trans);

              @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                @include underline($my-color-trans, .5);
              }
            }
          }
        }
      }
    }
  }
}

//@media screen and (max-width: 40em) {
//  ul.table-of-content li {
//    font-size: 20px;
//  }
//}
//
//@media screen and (max-width: 62em) {
//  ul.table-of-content li {
//    font-size: 23px;
//  }
//}

@include mq($until: tablet) { // Apply styling up to devices smaller than tablets (exclude tablets)
  ul.table-of-content li {
    font-size: 19px;
  }
}

@include mq($until: tablet, $and: '(orientation: landscape)') { // Same thing, in landscape orientation
  ul.table-of-content li {
    font-size: 19px;
  }
}

@include mq(tablet, desktop) { // Apply styling to tablets up to desktop (exclude desktop)
  ul.table-of-content li {
    font-size: 26px;
  }
}

//@include mq($from: mobile) {
//  ul.table-of-content li {
//    font-size: 18px;
//  }
//}
